.list-container {
  list-style: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wave-image {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.wave-text {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 700;
  color: #555555;
}

.about-contact-home-text {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 700;
  color: #555555;
  margin-left: 20px;
}

.img-wave-text-container {
  display: flex;
  align-items: center;
}

.item-text-container {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0px;
}
